[core]
	editor = code --wait
[user]
	name = Fabian Wetzel
	email = fabsenet@googlemail.com
[push]
	default = simple
[alias]
	logo = log --oneline
	st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
